# package directories
node_modules

.env
.env.dev
.DS_STORE

.idea/
log
dist
package-lock.json

.vscode
.env
env.dev.json
env.staging.json
env.*.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.eslintcache

# npm
package-lock.json
yarn.lock

.env_dev
.env_live

sample/*